In [25]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer

# Data Preprocessing

In [17]:
df = pd.read_csv("mail_data.csv")

In [5]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [12]:
df[df['Category'].isnull()]

Empty DataFrame
Columns: [Category, Message]
Index: []

In [13]:
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [18]:
df.loc[df['Category'] == 'spam' , 'Category' ] = 0 
df.loc[df['Category'] == 'ham' , 'Category']  = 1

In [19]:
df.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [38]:
df['Category'] = df['Category'].astype('int')

In [39]:
X = df['Message']
Y = df['Category']
Y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int32

In [40]:
print(X.shape  , Y.shape)

(5572,) (5572,)

In [41]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [42]:
tf_vectorized = TfidfVectorizer(min_df = 1, stop_words='english' , lowercase=True)
X_vectorized = tf_vectorized.fit_transform(X)

In [43]:
print(X_vectorized)

  (0, 8079)	0.1961033223643189
  (0, 1061)	0.35097479377088364
  (0, 3511)	0.16453831818791093
  (0, 2003)	0.29650492406235857
  (0, 1713)	0.3350433781715565
  (0, 4370)	0.29650492406235857
  (0, 8281)	0.23740715800944148
  (0, 3551)	0.19387866945820545
  (0, 1715)	0.29650492406235857
  (0, 1281)	0.26251769953088055
  (0, 2278)	0.27180581777101714
  (0, 5775)	0.27451666535585145
  (0, 4244)	0.35097479377088364
  (1, 5399)	0.5466243141314314
  (1, 8187)	0.43162957585464123
  (1, 4212)	0.5236804332035243
  (1, 4406)	0.4083258549263009
  (1, 5373)	0.2718944069420321
  (2, 77)	0.23775471426296338
  (2, 1138)	0.1708958200698438
  (2, 6100)	0.1708958200698438
  (2, 7750)	0.12585247610650566
  (2, 7073)	0.19910160498748308
  (2, 6048)	0.1809617113309815
  (2, 6154)	0.16925521015250053
  :	:
  (5567, 464)	0.2345392769367673
  (5567, 5146)	0.2445509910362817
  (5567, 8256)	0.1919079652601193
  (5567, 2009)	0.18662411374983587
  (5567, 5930)	0.1961944081157334
  (5567, 6100)	0.23094798261273555
  (5568, 2917)	0.6485991737677518
  (5568, 3263)	0.5597098620657655
  (5568, 3480)	0.3642369776828009
  (5568, 3809)	0.3652059777476414
  (5569, 7213)	0.6095307789831879
  (5569, 5707)	0.6095307789831879
  (5569, 5018)	0.5068968918274174
  (5570, 1511)	0.42657930865550353
  (5570, 908)	0.40721605986134385
  (5570, 4063)	0.35475111861632075
  (5570, 3605)	0.30408849117263737
  (5570, 1749)	0.35475111861632075
  (5570, 3388)	0.3451679596114425
  (5570, 2542)	0.23105123281877282
  (5570, 4508)	0.19998200231369734
  (5570, 8125)	0.23564264513684635
  (5570, 3276)	0.19998200231369734
  (5571, 6362)	0.7963273037972378
  (5571, 7705)	0.6048659564126764

# Splitting the data as train and test

In [44]:
X_train , X_test , Y_train , Y_test = train_test_split(X_vectorized , Y ,test_size = 0.2,  random_state= 3 , stratify=Y)

In [45]:
model = LogisticRegression()

In [46]:
model.fit(X_train , Y_train)

LogisticRegression()

In [47]:
train_prediction  = model.predict(X_train)
train_accuracy_score = accuracy_score(train_prediction , Y_train)

In [48]:
print('Train accuracy score :' , train_accuracy_score)

Train accuracy score : 0.9670181736594121

In [49]:
test_prediction  = model.predict(X_test)
test_accuracy_score = accuracy_score(test_prediction ,Y_test)
print('Test accuracy score :' , test_accuracy_score)

Test accuracy score : 0.9650224215246637

In [52]:
input_mail = ['Hi Ulas, I want to talk about the project we disscused about the other day. What do you thing about meet on saturday at home ?']
input_data_vectorized = tf_vectorized.transform(input_mail)
pred = model.predict(input_data_vectorized)

if pred[0] == 1:
    print("ham")
    
if pred[0] == 0 :
    print('spam')

ham